* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}
.container {
    display: flex;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 900px;
}
.form-container {
    width: 50%;
    padding-right: 20px;
}
.form-container h2 {
    margin-bottom: 10px;
}
.form-container p {
    margin-bottom: 20px;
    color: #555;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}
input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.checkbox-group input{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.btn {
    width: 100%;
    background: #7a5af5;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.image-container {
    width: 50%;
}
.image-container img {
    width: 100%;
    /* border-radius: 10px; */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        margin: 20px;
    }

    .form-container {
        width: 100%;
        flex-direction: column; 
        margin-bottom: 20px;
    }

    .image-container {
        display: none; 
    }
    .form-container input,
    .form-container textarea {
        height: 45px; 
    }

    .btn {
        width: 100%; 
    }
}
